.modal.modal--event.fade#modalEvent1(tabindex="-1" aria-hidden="true" data-bs-backdrop="false")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      .event-modal
        .event-modal__heading
          h4.event-modal__title.title Лекция профессора Иванова
          .event-modal__date.title 1 апреля в 18:00
        .event-modal__body
          p Научно-исследовательская работа студентов ведётся на&nbsp;стыке химии, фармакологии, биохимии и&nbsp;физиологии человека, животных и&nbsp;растений. Большой выбор тематик научно-исследовательской работы и&nbsp;изучаемых дисциплин, исходя из&nbsp;твоих интересов.
        .event-modal__social
          .event-modal__social-title Поставить напоминание:
          .event-modal__social-buttons.section-buttons
            include ../../../components/bots/bots
