section.section.section--activities#activities
  .section-background.activities-background
    picture
      source(data-srcset="i/activities/activities-bg-xxl.avif" media="(min-width: 1900px)" type="image/avif")
      source(data-srcset="i/activities/activities-bg-xxl.webp" media="(min-width: 1900px)" type="image/webp")
      source(data-srcset="i/activities/activities-bg-xxl.jpg" media="(min-width: 1900px)" type="image/jpeg")
      source(data-srcset="i/activities/activities-bg-xl.avif" media="(min-width: 1440px)" type="image/avif")
      source(data-srcset="i/activities/activities-bg-xl.webp" media="(min-width: 1440px)" type="image/webp")
      source(data-srcset="i/activities/activities-bg-xl.jpg" media="(min-width: 1440px)" type="image/jpeg")
      source(data-srcset="i/activities/activities-bg-lg.avif" media="(min-width: 768px)" type="image/avif")
      source(data-srcset="i/activities/activities-bg-lg.webp" media="(min-width: 768px)" type="image/webp")
      source(data-srcset="i/activities/activities-bg-lg.jpg" media="(min-width: 768px)" type="image/jpeg")
      source(data-srcset="i/activities/activities-bg-sm.avif" type="image/avif")
      source(data-srcset="i/activities/activities-bg-sm.webp" type="image/webp")
      source(data-srcset="i/activities/activities-bg-sm.jpg" type="image/jpeg")
      img.lazyload(data-src="i/activities/activities-bg-sm.jpg" width="768" height="670" alt="" aria-hidden="true")
  .container
    .activities-container.row.align-items-center
      .col-md-6(data-animation="fade-in-right")
        h2.activities-title.section-title.title Да, они же#[br]только учатся!
        .activities-body.section-text
          p У&nbsp;нас интересно учиться, но&nbsp;и&nbsp;кроме учебы есть чем заняться. В&nbsp;РХТУ есть всё, что ты&nbsp;ожидаешь. А&nbsp;ещё:
        ul.activities-list
          li CLUB&nbsp;| Творческое объединение
          li Медиа-студия &laquo;Mendeleev Media&raquo;
          li Совет молодых учёных специалистов РХТУ
          li Студенческое научное общество
          li Академический Большой хор
          li Духовой оркестр РХТУ
          li Sustainable Future&nbsp;&mdash; студенческое экологическое движение
          li Волонтёрский центр и&nbsp;донорское движение
          li Киберспортивный клуб
          li Очень много спортивных сборных
          li Ну&nbsp;и&nbsp;сборная команда КВН, конечно
      .col-md-6(data-animation="fade-in-left")
        .video.activities-video
          picture
            source(srcset="i/activities/activities-preview.avif, i/activities/activities-preview@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
            source(srcset="i/activities/activities-preview.webp, i/activities/activities-preview@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
            source(srcset="i/activities/activities-preview.jpg, i/activities/activities-preview@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg")
            source(srcset="i/activities/activities-preview-sm.avif, i/activities/activities-preview-sm@2x.avif 2x" type="image/avif")
            source(srcset="i/activities/activities-preview-sm.webp, i/activities/activities-preview-sm@2x.webp 2x" type="image/webp")
            source(srcset="i/activities/activities-preview-sm.jpg, i/activities/activities-preview-sm@2x.jpg 2x" type="image/jpeg")
            img.img-fluid(src="i/activities/activities-preview-sm.jpg" width="206" height="290" alt="" loading="lazy")
          span.video__play(aria-hidden="true")
          a.video__link.glightbox(href="https://vk.com/video_ext.php?oid=692690141&id=456239019&hash=f98152de861a79fc&hd=2" data-width="325px" data-height="646px" data-gallery="activities" aria-label="Смотреть видео")
