.modal.modal--scieneer.fade#modalScieneer(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-dialog-mobile-offset
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      .scieneer-body
        p Раньше были:
        p
          | #[strong учёные] (#[span.text-white SCIE]ntist)&nbsp;&mdash; генераторы идей и&nbsp;теоретики;
          br
          | #[strong инженеры] (engi#[span.text-white NEER])&nbsp;&mdash; техники и&nbsp;практики.
        p Первые совершали открытия, вторые&nbsp;&mdash; внедряли их&nbsp;в&nbsp;прикладные сферы. Сегодня один человек способен совмещать эти роли&nbsp;&mdash; специалист новой формации #[strong SCIE#[span.text-white NEER]]. Он&nbsp;занимается исследовательской деятельностью и&nbsp;отвечает за&nbsp;внедрение новых продуктов и&nbsp;технологий.
        p Только #[strong РХТУ] выпускает #[strong SCIE#[span.text-white NEERS]], которые востребованы в&nbsp;крупнейших химических производствах страны.
