.modal.modal--fact.modal--fact-2.fade#modalFact2(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      picture
        source(srcset="i/facts/fact-image-2.avif, i/facts/fact-image-2@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
        source(srcset="i/facts/fact-image-2.webp, i/facts/fact-image-2@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
        source(srcset="i/facts/fact-image-2.png, i/facts/fact-image-2@2x.png 2x" media="(min-width: 768px)" type="image/png")
        source(srcset="i/facts/fact-image-2-sm.avif, i/facts/fact-image-2-sm@2x.avif 2x" type="image/avif")
        source(srcset="i/facts/fact-image-2-sm.webp, i/facts/fact-image-2-sm@2x.webp 2x" type="image/webp")
        source(srcset="i/facts/fact-image-2-sm.png, i/facts/fact-image-2-sm@2x.png 2x" type="image/png")
        img.fact-image(src="i/facts/fact-image-2.png" alt="" loading="lazy")
      .fact-body
        picture
          source(srcset="i/facts/fact-bg-2.avif, i/facts/fact-bg-2@2x.avif 2x" media="(min-width: 1900px)" type="image/avif")
          source(srcset="i/facts/fact-bg-2.webp, i/facts/fact-bg-2@2x.webp 2x" media="(min-width: 1900px)" type="image/webp")
          source(srcset="i/facts/fact-bg-2.jpg, i/facts/fact-bg-2@2x.jpg 2x" media="(min-width: 1900px)" type="image/jpeg")
          source(srcset="i/facts/fact-bg-2-lg.avif, i/facts/fact-bg-2-lg@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
          source(srcset="i/facts/fact-bg-2-lg.webp, i/facts/fact-bg-2-lg@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
          source(srcset="i/facts/fact-bg-2-lg.jpg, i/facts/fact-bg-2-lg@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg")
          source(srcset="i/facts/fact-bg-2-sm.avif, i/facts/fact-bg-2-sm@2x.avif 2x" type="image/avif")
          source(srcset="i/facts/fact-bg-2-sm.webp, i/facts/fact-bg-2-sm@2x.webp 2x" type="image/webp")
          source(srcset="i/facts/fact-bg-2-sm.jpg, i/facts/fact-bg-2-sm@2x.jpg 2x" type="image/jpeg")
          img.fact-bg(src="i/facts/fact-bg-2.jpg" alt="" aria-hidden="true" loading="lazy")
        p РХТУ участвует в&nbsp;государственной программе, по&nbsp;которой #[strong более 600&nbsp;млн. рублей] в&nbsp;год выделяется на&nbsp;исследования и&nbsp;разработки университета, поэтому&nbsp;ты:
        ul.offset-2-2
          li Будешь проходить практику в&nbsp;современных лабораториях&nbsp;&mdash; от&nbsp;создания наночастиц до&nbsp;варки стекла
          li На&nbsp;занятиях окунёшься в&nbsp;виртуальную реальность и&nbsp;сделаешь макет своей разработки на&nbsp;3D-принтере
          li.offset-2-1 Сможешь стать одним из&nbsp;лидеров социально-экологической повестки ESG, которая развивается в&nbsp;стране и&nbsp;мире
