.modal.modal--fact.modal--fact-1.fade#modalFact1(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      picture
        source(srcset="i/facts/fact-image-1.avif, i/facts/fact-image-1@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
        source(srcset="i/facts/fact-image-1.webp, i/facts/fact-image-1@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
        source(srcset="i/facts/fact-image-1.png, i/facts/fact-image-1@2x.png 2x" media="(min-width: 768px)" type="image/png")
        source(srcset="i/facts/fact-image-1-sm.avif, i/facts/fact-image-1-sm@2x.avif 2x" type="image/avif")
        source(srcset="i/facts/fact-image-1-sm.webp, i/facts/fact-image-1-sm@2x.webp 2x" type="image/webp")
        source(srcset="i/facts/fact-image-1-sm.png, i/facts/fact-image-1-sm@2x.png 2x" type="image/png")
        img.fact-image(src="i/facts/fact-image-1.png" alt="" loading="lazy")
      .fact-body
        picture
          source(srcset="i/facts/fact-bg-1.avif, i/facts/fact-bg-1@2x.avif 2x" media="(min-width: 1900px)" type="image/avif")
          source(srcset="i/facts/fact-bg-1.webp, i/facts/fact-bg-1@2x.webp 2x" media="(min-width: 1900px)" type="image/webp")
          source(srcset="i/facts/fact-bg-1.jpg, i/facts/fact-bg-1@2x.jpg 2x" media="(min-width: 1900px)" type="image/jpeg")
          source(srcset="i/facts/fact-bg-1-lg.avif, i/facts/fact-bg-1-lg@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
          source(srcset="i/facts/fact-bg-1-lg.webp, i/facts/fact-bg-1-lg@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
          source(srcset="i/facts/fact-bg-1-lg.jpg, i/facts/fact-bg-1-lg@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg")
          source(srcset="i/facts/fact-bg-1-sm.avif, i/facts/fact-bg-1-sm@2x.avif 2x" type="image/avif")
          source(srcset="i/facts/fact-bg-1-sm.webp, i/facts/fact-bg-1-sm@2x.webp 2x" type="image/webp")
          source(srcset="i/facts/fact-bg-1-sm.jpg, i/facts/fact-bg-1-sm@2x.jpg 2x" type="image/jpeg")
          img.fact-bg(src="i/facts/fact-bg-1.jpg" alt="" aria-hidden="true" loading="lazy")
        p Сможешь учиться и&nbsp;работать рядом с&nbsp;лауреатами международных и&nbsp;государственных премий. Может быть, и&nbsp;твоя &laquo;Нобелевская&raquo; недалеко.
        p Каждый день будешь открывать двери вуза, который #[strong 27&nbsp;раз] отмечали крупнейшие международные рейтинги за&nbsp;последние#[br]#[strong 4&nbsp;года].
        p.offset-1-1 Будешь ходить по&nbsp;исторической лестнице, по&nbsp;которой поднимался ещё Николай&nbsp;II, а&nbsp;из&nbsp;окон аудиторий смотреть на&nbsp;небоскрёбы Москвы-Сити.
