.modal.modal--fact.modal--fact-4.fade#modalFact4(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      picture
        source(srcset="i/facts/fact-image-4.avif, i/facts/fact-image-4@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
        source(srcset="i/facts/fact-image-4.webp, i/facts/fact-image-4@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
        source(srcset="i/facts/fact-image-4.png, i/facts/fact-image-4@2x.png 2x" media="(min-width: 768px)" type="image/png")
        source(srcset="i/facts/fact-image-4-sm.avif, i/facts/fact-image-4-sm@2x.avif 2x" type="image/avif")
        source(srcset="i/facts/fact-image-4-sm.webp, i/facts/fact-image-4-sm@2x.webp 2x" type="image/webp")
        source(srcset="i/facts/fact-image-4-sm.png, i/facts/fact-image-4-sm@2x.png 2x" type="image/png")
        img.fact-image(src="i/facts/fact-image-4.png" alt="" loading="lazy")
      .fact-body
        picture
          source(srcset="i/facts/fact-bg-4.avif, i/facts/fact-bg-4@2x.avif 2x" media="(min-width: 1900px)" type="image/avif")
          source(srcset="i/facts/fact-bg-4.webp, i/facts/fact-bg-4@2x.webp 2x" media="(min-width: 1900px)" type="image/webp")
          source(srcset="i/facts/fact-bg-4.jpg, i/facts/fact-bg-4@2x.jpg 2x" media="(min-width: 1900px)" type="image/jpeg")
          source(srcset="i/facts/fact-bg-4-lg.avif, i/facts/fact-bg-4-lg@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
          source(srcset="i/facts/fact-bg-4-lg.webp, i/facts/fact-bg-4-lg@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
          source(srcset="i/facts/fact-bg-4-lg.jpg, i/facts/fact-bg-4-lg@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg")
          source(srcset="i/facts/fact-bg-4-sm.avif, i/facts/fact-bg-4-sm@2x.avif 2x" type="image/avif")
          source(srcset="i/facts/fact-bg-4-sm.webp, i/facts/fact-bg-4-sm@2x.webp 2x" type="image/webp")
          source(srcset="i/facts/fact-bg-4-sm.jpg, i/facts/fact-bg-4-sm@2x.jpg 2x" type="image/jpeg")
          img.fact-bg(src="i/facts/fact-bg-4.jpg" alt="" aria-hidden="true" loading="lazy")
        p.offset-4-1 Тебя ждут #[strong более 100] высокотехнологичных лабораторий.
        p #[strong Более 120] патентов студентов РХТУ действуют и&nbsp;приносят пользу науке и&nbsp;бизнесу. Как насчёт получить ещё один?
        p Начнёшь проходить практику и&nbsp;работать по&nbsp;профессии уже со&nbsp;второго курса, у&nbsp;РХТУ большой пул партнёров-производств.
        p Попробовать себя в&nbsp;деле проще, чем кажется. В&nbsp;РХТУ есть:
        ul
          li Проектный офис ГК&nbsp;&laquo;Росатом&raquo;
          li Инжиниринговый центр &laquo;Продукты и&nbsp;технологии органического синтеза&raquo;
          li Учебно-научный центр химической и&nbsp;электрохимической обработки материалов
          li Центр поддержки и&nbsp;развития технологических компаний &laquo;Акселератор Mendeleev&raquo;
          li Институт разработок &laquo;Ферринг Россия&raquo;
          li.offset-4-2 Студенческое трансферное агентство разработок и&nbsp;технологий &laquo;С.Т.А.Р.Т&raquo;
          li И&nbsp;даже детский технопарк
