- var specialities = [ { name: "Агропромышленности", text: [ "повышать эффективность сельского хозяйства", "создавать новые удобрения", "развивать средства защиты растений" ] }, { name: "Медицине", text: [ "создавать новые лекарства и технологии в фармацевтике", "разрабатывать новые методы диагностики и лечения заболеваний" ] }, { name: "Биотехнологиях", text: [ "работать с микроорганизмами", "создавать инновационные продукты", "определять будущее медицинских материалов" ] }, { name: "Производстве", text: [ "внедрять новые технологии производства", "определять будущее электроники", "создавать инновационные продукты" ] }, { name: "Экологии и сбережении ресурсов", text: [ "сохранять окружающую среду", "устранять последствия природных и антропогенных катастроф", "развивать переработку отходов" ] }, { name: "Новых материалах", text: [ "проектировать и разрабатывать новые материалы", "применять технологии обработки материалов", "создавать современные композиты на их основе" ] }, { name: "Машиностроении", text: [ "повышать уровень цифровизации", "проектировать новое оборудование", "работать на высокотехнологичных станках" ] }, { name: "Авиации и космонавтике", text: [ "создавать условия для безопасности в воздухе и космосе", "внедрять инновационные материалы и покрытия", "разрабатывать новые виды ракетного топлива" ] }, { name: "Энергетике и нефтегазохимии", text: [ "разрабатывать нефтяное оборудование", "освоить процесс производства энергии", "превращать природные ресурсы в изделия", "разрабатывать альтернативные источники энергии" ] }, { name: "Науке", text: [ "поддерживать научно-технический прогресс в движении", "выпускать труды и публикации", "совершить открытие века или научную революцию" ] }, { name: "Оборонной промышленности", text: [ "создавать прочные и противоударные материалы", "разрабатывать новые виды топлива и пиротехнических веществ" ] }, { name: "Бизнесе и экономике", text: [ "разрабатывать новые инновационные продукты", "оптимизировать бизнес-процессы", "управлять производством" ] } ];

section.section.section--hero#hero
  .hero-decor
  .section-background.hero-background.hero-background--1
    picture
      source(data-srcset="i/hero/hero-bg-1-xxl.avif" media="(min-width: 1900px)" type="image/avif")
      source(data-srcset="i/hero/hero-bg-1-xxl.webp" media="(min-width: 1900px)" type="image/webp")
      source(data-srcset="i/hero/hero-bg-1-xxl.jpg" media="(min-width: 1900px)" type="image/jpeg")
      source(data-srcset="i/hero/hero-bg-1-xl.avif" media="(min-width: 1440px)" type="image/avif")
      source(data-srcset="i/hero/hero-bg-1-xl.webp" media="(min-width: 1440px)" type="image/webp")
      source(data-srcset="i/hero/hero-bg-1-xl.jpg" media="(min-width: 1440px)" type="image/jpeg")
      source(data-srcset="i/hero/hero-bg-1-lg.avif" media="(min-width: 768px)" type="image/avif")
      source(data-srcset="i/hero/hero-bg-1-lg.webp" media="(min-width: 768px)" type="image/webp")
      source(data-srcset="i/hero/hero-bg-1-lg.jpg" media="(min-width: 768px)" type="image/jpeg")
      source(data-srcset="i/hero/hero-bg-1-sm.avif" type="image/avif")
      source(data-srcset="i/hero/hero-bg-1-sm.webp" type="image/webp")
      source(data-srcset="i/hero/hero-bg-1-sm.jpg" type="image/jpeg")
      img.lazyload(data-src="i/hero/hero-bg-1-sm.jpg" width="715" height="809" alt="" aria-hidden="true")
  .section-background.hero-background.hero-background--2
    picture
      source(data-srcset="i/hero/hero-bg-2-xxl.avif" media="(min-width: 1900px)" type="image/avif")
      source(data-srcset="i/hero/hero-bg-2-xxl.webp" media="(min-width: 1900px)" type="image/webp")
      source(data-srcset="i/hero/hero-bg-2-xxl.jpg" media="(min-width: 1900px)" type="image/jpeg")
      source(data-srcset="i/hero/hero-bg-2-xl.avif" media="(min-width: 1440px)" type="image/avif")
      source(data-srcset="i/hero/hero-bg-2-xl.webp" media="(min-width: 1440px)" type="image/webp")
      source(data-srcset="i/hero/hero-bg-2-xl.jpg" media="(min-width: 1440px)" type="image/jpeg")
      source(data-srcset="i/hero/hero-bg-2-lg.avif" media="(min-width: 768px)" type="image/avif")
      source(data-srcset="i/hero/hero-bg-2-lg.webp" media="(min-width: 768px)" type="image/webp")
      source(data-srcset="i/hero/hero-bg-2-lg.jpg" media="(min-width: 768px)" type="image/jpeg")
      source(data-srcset="i/hero/hero-bg-2-sm.avif" type="image/avif")
      source(data-srcset="i/hero/hero-bg-2-sm.webp" type="image/webp")
      source(data-srcset="i/hero/hero-bg-2-sm.jpg" type="image/jpeg")
      img.lazyload(data-src="i/hero/hero-bg-2-sm.jpg" width="620" height="368" alt="" aria-hidden="true")
  .hero-object
    picture
      source(data-srcset="i/hero/hero-object-xxl.avif, i/hero/hero-object-xxl@2x.avif 2x" media="(min-width: 1900px)" type="image/avif")
      source(data-srcset="i/hero/hero-object-xxl.webp, i/hero/hero-object-xxl@2x.webp 2x" media="(min-width: 1900px)" type="image/webp")
      source(data-srcset="i/hero/hero-object-xxl.png, i/hero/hero-object-xxl@2x.png 2x" media="(min-width: 1900px)" type="image/png")
      source(data-srcset="i/hero/hero-object-xl.avif, i/hero/hero-object-xl@2x.avif 2x" media="(min-width: 1440px)" type="image/avif")
      source(data-srcset="i/hero/hero-object-xl.webp, i/hero/hero-object-xl@2x.webp 2x" media="(min-width: 1440px)" type="image/webp")
      source(data-srcset="i/hero/hero-object-xl.png, i/hero/hero-object-xl@2x.png 2x" media="(min-width: 1440px)" type="image/png")
      source(data-srcset="i/hero/hero-object-lg.avif, i/hero/hero-object-lg@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
      source(data-srcset="i/hero/hero-object-lg.webp, i/hero/hero-object-lg@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
      source(data-srcset="i/hero/hero-object-lg.png, i/hero/hero-object-lg@2x.png 2x" media="(min-width: 768px)" type="image/png")
      source(data-srcset="i/hero/hero-object-sm.avif, i/hero/hero-object-sm@2x.avif 2x" type="image/avif")
      source(data-srcset="i/hero/hero-object-sm.webp, i/hero/hero-object-sm@2x.webp 2x" type="image/webp")
      source(data-srcset="i/hero/hero-object-sm.png, i/hero/hero-object-sm@2x.png 2x" type="image/png")
      img.lazyload(data-src="i/hero/hero-object-sm.png" width="235" height="328" alt="" aria-hidden="true" data-animation="fade-in-right")
  .container
    .hero-container.row
      .hero-col-heading.col-md-6.col-xl-5(data-animation="fade-in-right")
        h2.hero-title.title Я&nbsp;— химик, я&nbsp;создаю #[span будущее&nbsp;в...]
      .hero-col-spec.col-md-6.col-xl-4(data-animation="fade-in-right")
        .hero-spec-container
          .hero-spec.swiper
            .swiper-wrapper
              each item in specialities
                .swiper-slide!= item.name
          .swiper-controls.d-md-none
            .swiper-button-prev #[span.arrow #[+icon("arrow")]]
            .swiper-button-next #[span.arrow #[+icon("arrow")]]
      .hero-col-about.col-md-5.offset-md-7.col-xl-3.offset-xl-0(data-animation="fade-in-left")
        .hero-about
          .hero-about__title.title Поступай#[br]в&nbsp;#[span РХТУ], чтобы
          .hero-about-slider.swiper
            .swiper-wrapper
              each item in specialities
                .swiper-slide
                  .hero-about__body
                    ul
                      each jtem in item.text
                        li!= jtem
                  .hero-about__link
                    a.link-arrow(href="#specialities" data-scroll) #[span.arrow #[+icon("arrow")]] Выбери специальность
      .hero-col-learn.col-md-6.offset-md-6.col-xxl-5.offset-xxl-7(data-animation="fade-in-left")
        .learn
          .learn-title.section-title.title Узнай, как#[br]поступить
          .learn-button
            a.btn.btn-round-secondary(href="#") #[span.btn-circle] Поступить #[span.arrow #[+icon("arrow")]]
