a.btn.btn-default.btn-icon.btn-telegram(href="#")
  span Telegram
  +icon("telegram")(width="29" height="24")
a.btn.btn-default.btn-icon.btn-vk(href="#")
  span VKontakte
  +icon("vk")(width="29" height="18")
