section.section.section--docs#docs
  .container
    .docs-container.row
      .col-docs.col-md-6(data-animation="fade-in-right")
        h2.docs-title.section-title.title #[div.docs-title__inner Документы #[div.docs-title__tip Куда#[br]же без#[br]них?]]
        .docs-text.section-text
          p Да, да, мы&nbsp;о&nbsp;документах. Есть хорошая примета&nbsp;— у&nbsp;подавших документы больше шансов поступить.
        .docs-more.section-text
          p Подробно весь процесс подачи#[br]документов описан на #[br]#[a.btn.btn-default.btn-primary(href="#") этой странице]
        .docs-start
          p
            strong.text-primary Приём документов начинается с&nbsp;20&nbsp;июня
      .col-instructions.col-md-6(data-animation="fade-in-left")
        .instructions
          .instructions-title Тебе нужно:
          ol.instructions-list
            li Ознакомиться с&nbsp;#[a.text-decoration-underline(href="#") перечнем] для поступающих
            li Изучить #[a.text-decoration-underline(href="#") правила приёма]
            li Зарегистрироваться в&nbsp;#[a.text-decoration-underline(href="#") личном кабинете] и&nbsp;внимательно заполнить анкету&nbsp;— действовать по инструкции
            li Распечатать, подписать и&nbsp;загрузить обратно заявление о&nbsp;приёме, анкету поступающего, согласие поступающего на&nbsp;обработку его персональных данных
            li Подать заявление о&nbsp;согласии на&nbsp;зачисление.#[br.d-md-none.d-xl-inline] #[span.text-primary Это можно сделать всего 3&nbsp;раза!]
