.modal.modal--result.fade#modalSuccess(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      .result-container
        .result-heading
          h4.result-title.title Спасибо, мы&nbsp;свяжемся с&nbsp;тобой для консультации!
        .result-body
          p Пока ты&nbsp;ждешь звонка от&nbsp;нашего специалиста, подбери специальность будущего в&nbsp;нашем чат-боте. Там&nbsp;же ты&nbsp;сможешь узнать о&nbsp;самых важных событиях для поступающих:
        .section-buttons
          include ../../../components/bots/bots
