.modal.modal--notfound.fade#modalNotFound(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      .notfound-modal
        .notfound-title.title.text-primary Подходящих направлений не найдено. Попробуй ещё раз!
