section.section.section--rector#rector
  .container
    .rector-container.row
      .col-md-4(data-animation="fade-in-right")
        .rector-heading
          h2.rector-title.section-title.title А это наш#[br]ректор
          .rector-heading__body
            p
              strong У&nbsp;нас очень прогрессивный, молодой и&nbsp;при этом опытный ректор
          .rector-heading__more
            a.link-more(href="#modalRector" role="button" data-bs-toggle="modal") Подробнее #[span.arrow #[+icon("arrow")]]
      .col-md-4(data-animation="fade-in-top" data-animation-delay=".5")
        .rector-image
          picture
            source(srcset="i/rector/vorotyntsev.avif, i/rector/vorotyntsev@2x.avif 2x" type="image/avif")
            source(srcset="i/rector/vorotyntsev.webp, i/rector/vorotyntsev@2x.webp 2x" type="image/webp")
            source(srcset="i/rector/vorotyntsev.jpg, i/rector/vorotyntsev@2x.jpg 2x" type="image/jpeg")
            img.img-fluid(src="i/rector/vorotyntsev.jpg" alt="Фото Ильи Воротынцева" width="560" height="560" loading="lazy")
      .col-md-4.align-self-end(data-animation="fade-in-left")
        .rector-content
          .rector-content__name.title Илья Воротынцев&nbsp;—
          .rector-content__body
            p
              strong доктор технических наук, профессор, на&nbsp;его счету больше 300&nbsp;научных публикаций.
