.modal.modal--rector.fade#modalRector(tabindex="-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-dialog-mobile-offset
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
      .rector-body
        p.offset-1-1 Является одним из&nbsp;ведущих российских ученых в&nbsp;области процессов разделения и&nbsp;мембранной технологии, занимается разработкой новых полимерных &laquo;умных&raquo; материалов.
        p Созданные его командой модели технологических схем для нефтегазовой отрасли интегрированы в&nbsp;#[strong Aspen Plus]&trade;, в&nbsp;котором многие из&nbsp;студентов-химиков работают на&nbsp;занятиях. Под руководством Ильи Воротынцева был недавно оптимизирован газогидратный способ очистки природного газа, предложена технология получения ксенона из&nbsp;природного газа и&nbsp;повышения производительности аммиачных предприятий.
        p Стал самым молодым доктором технических наук в&nbsp;России в&nbsp;#[strong 2011&nbsp;году].
        p Является лауреатом Общенациональной премии &laquo;#[strong Профессор года]&raquo; в&nbsp;номинации Технические науки (2020).
