section.section.section--join#join
  div.join-background
    picture
      source(data-srcset="i/join/join-bg-xxl.avif, i/join/join-bg-xxl@2x.avif 2x" media="(min-width: 1900px)" type="image/avif")
      source(data-srcset="i/join/join-bg-xxl.webp, i/join/join-bg-xxl@2x.webp 2x" media="(min-width: 1900px)" type="image/webp")
      source(data-srcset="i/join/join-bg-xxl.jpg, i/join/join-bg-xxl@2x.jpg 2x" media="(min-width: 1900px)" type="image/jpeg")
      source(data-srcset="i/join/join-bg-xl.avif, i/join/join-bg-xl@2x.avif 2x" media="(min-width: 1440px)" type="image/avif")
      source(data-srcset="i/join/join-bg-xl.webp, i/join/join-bg-xl@2x.webp 2x" media="(min-width: 1440px)" type="image/webp")
      source(data-srcset="i/join/join-bg-xl.jpg, i/join/join-bg-xl@2x.jpg 2x" media="(min-width: 1440px)" type="image/jpeg")
      source(data-srcset="i/join/join-bg-lg.avif, i/join/join-bg-lg@2x.avif 2x" media="(min-width: 768px)" type="image/avif")
      source(data-srcset="i/join/join-bg-lg.webp, i/join/join-bg-lg@2x.webp 2x" media="(min-width: 768px)" type="image/webp")
      source(data-srcset="i/join/join-bg-lg.jpg, i/join/join-bg-lg@2x.jpg 2x" media="(min-width: 768px)" type="image/jpeg")
      source(data-srcset="i/join/join-bg-sm.avif, i/join/join-bg-sm@2x.avif 2x" type="image/avif")
      source(data-srcset="i/join/join-bg-sm.webp, i/join/join-bg-sm@2x.webp 2x" type="image/webp")
      source(data-srcset="i/join/join-bg-sm.jpg, i/join/join-bg-sm@2x.jpg 2x" type="image/jpeg")
      img.lazyload(data-src="i/join/join-bg-sm.jpg" width="768" height="490" alt="" aria-hidden="true" data-animation="fade-in-left")
  .container
    .join-container(data-animation="fade-in-right")
      .join-title.section-title.title Присоединяйся#[br]к нам!
      a.btn.btn-round-secondary(href="#") #[span.btn-circle] Поступить #[span.arrow #[+icon("arrow")]]
