footer.footer
  .container
    .footer-container.row
      .col-md-12.col-lg-4
        .footer-brand
          a.brand(href="/")
            img.brand__logo(src="i/logo.svg" alt="РХТУ")
            .brand__title #[strong Российский химико-технологический университет]#[br]имени Д.И. Менделеева
        .footer-address 125047, г.&nbsp;Москва, Миусская площадь, д.&nbsp;9
      .col-md-6.col-lg-4
        ul.footer-links
          li.footer-link.footer-link--main
            a(href="#")
              strong Полная информация для поступающих
          li.footer-link
            a(href="#") Вечерняя химическая школа
          li.footer-link
            a(href="#") Вечерняя математическая школа
          li.footer-link
            a(href="#") Олимпиады и&nbsp;конкурсы
          li.footer-link
            a(href="#") Перевод из&nbsp;другого вуза
      .col-md-6.col-lg-4
        ul.footer-links
          li.footer-link
            a(href="#") Сведения об&nbsp;образовательной организации
          li.footer-link
            a(href="#") Политика обработки персональных данных
          li.footer-link
            a(href="#") Новомосковский институт (филиал)
          li.footer-link
            a(href="#") Филиал РХТУ в г.&nbsp;Ташкенте
        .footer-ask
          button.btn.btn-default.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modalAsk") Задать вопрос
